<?xml version="1.0" encoding="utf-8" ?>
<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="SmtpAppender" type="TrexSL.Web.CustomLog4netAppenders.AsyncSmtpAppender">
    <smtpHost value="smtp.office365.com"  xdt:Transform="Replace"/>
    <port value="587" xdt:Transform="Replace" />
    <from value="reports@d60.dk" xdt:Transform="Replace" />
    <authentication value="Basic" xdt:Transform="Replace" />
    <username value="reports@d60.dk" xdt:Transform="Replace" />
    <password value ="R360rt2%" xdt:Transform="Replace" />
    <EnableSsl value="true" xdt:Transform="Replace" />
    <subject value="TEST: Error From T-Rex webservice Hildebrandt" xdt:Transform="Replace"/>
  </appender>
</log4net>