<?xml version="1.0"?>

<configuration>
  <appSettings>    
    <add key="Environment" value="Debug" />
  </appSettings>

	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
					switchValue="Information, ActivityTracing"
					propagateActivity="true">
				<listeners>
					<add name="traceListener"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData= "c:\temp\WEBTraces.log" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
			</assemblies>
		</compilation>

		<customErrors mode="Off" />

		<authentication mode="Forms">
			<forms name="MYWEBAPP.ASPXAUTH"
				loginUrl="Invoices/Default.aspx"
				protection="All"
				path="/"/>
		</authentication>

		<httpRuntime maxRequestLength="1048576"/>


		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

	</system.web>


	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="true" requireSSL="false"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	
	<system.serviceModel>

		<bindings>
			<customBinding>
				<binding
					name="binaryHttpBinding"
					receiveTimeout="00:10:00"
					sendTimeout="00:05:00"
					closeTimeout="00:01:00"
					openTimeout="00:01:00">

					<binaryMessageEncoding maxSessionSize="2147483647">
						<readerQuotas
							maxArrayLength="2147483647"
							maxStringContentLength="2147483647"
							maxDepth="500" />
					</binaryMessageEncoding>
					
					<httpTransport
						maxReceivedMessageSize="2147483647"
						maxBufferSize="2147483647"
						maxBufferPoolSize="524288"
						bypassProxyOnLocal="false"
						hostNameComparisonMode="StrongWildcard"
						transferMode="Buffered"
						useDefaultWebProxy="true" />
				</binding>
			</customBinding>
		</bindings>
		

		<services>
			<service behaviorConfiguration="TrexSL.Web.AuthenticationServiceBehavior" name="TrexSL.Web.AuthenticationService">
				<endpoint address="" binding="customBinding" bindingConfiguration="binaryHttpBinding" contract="TrexSL.Web.AuthenticationService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>

			<service behaviorConfiguration="TrexSL.Web.FileDownloadServiceBehavior" name="TrexSL.Web.FileDownloadService">
				<endpoint address="" binding="customBinding" bindingConfiguration="streamedBinding" contract="TrexSL.Web.FileDownloadService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>



		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment
			aspNetCompatibilityEnabled="true"
			multipleSiteBindingsEnabled="true" />

	</system.serviceModel>

	<system.webServer>

		<modules runAllManagedModulesForAllRequests="true"/>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>

</configuration>