<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\release\Trex.admin.service</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <File Include="bin/AjaxControlToolkit.dll">
      <publishTime>10/02/2012 14:05:47</publishTime>
    </File>
    <File Include="bin/Antlr3.Runtime.dll">
      <publishTime>10/02/2012 14:05:47</publishTime>
    </File>
    <File Include="bin/Aspose.Words.dll">
      <publishTime>10/02/2012 14:05:47</publishTime>
    </File>
    <File Include="bin/Aspose.Words.xml">
      <publishTime>10/02/2012 14:05:47</publishTime>
    </File>
    <File Include="bin/Castle.Core.dll">
      <publishTime>10/02/2012 14:05:47</publishTime>
    </File>
    <File Include="bin/Castle.Core.xml">
      <publishTime>10/02/2012 14:05:47</publishTime>
    </File>
    <File Include="bin/Castle.DynamicProxy2.dll">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/Castle.DynamicProxy2.xml">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/Iesi.Collections.dll">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/Iesi.Collections.xml">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/log4net.dll">
      <publishTime>10/02/2012 14:05:49</publishTime>
    </File>
    <File Include="bin/log4net.xml">
      <publishTime>10/02/2012 14:05:49</publishTime>
    </File>
    <File Include="bin/NHibernate.ByteCode.Castle.dll">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/NHibernate.ByteCode.Castle.xml">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/NHibernate.dll">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/NHibernate.Linq.dll">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/NHibernate.Linq.xml">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/NHibernate.xml">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/NLog.config">
      <publishTime>11/02/2012 13:49:43</publishTime>
    </File>
    <File Include="bin/NLog.dll">
      <publishTime>10/02/2012 21:50:02</publishTime>
    </File>
    <File Include="bin/NLog.xml">
      <publishTime>10/02/2012 21:50:02</publishTime>
    </File>
    <File Include="bin/StructureMap.dll">
      <publishTime>10/02/2012 15:44:12</publishTime>
    </File>
    <File Include="bin/StructureMap.pdb">
      <publishTime>10/02/2012 15:44:12</publishTime>
    </File>
    <File Include="bin/StructureMap.xml">
      <publishTime>10/02/2012 15:44:12</publishTime>
    </File>
    <File Include="bin/Telerik.Reporting.dll">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/Telerik.Reporting.Service.dll">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/Telerik.Reporting.Service.xml">
      <publishTime>10/02/2012 14:05:48</publishTime>
    </File>
    <File Include="bin/Telerik.Reporting.xml">
      <publishTime>10/02/2012 14:05:49</publishTime>
    </File>
    <File Include="bin/Telerik.Web.UI.dll">
      <publishTime>10/02/2012 14:05:49</publishTime>
    </File>
    <File Include="bin/Telerik.Web.UI.xml">
      <publishTime>10/02/2012 14:05:49</publishTime>
    </File>
    <File Include="bin/Trex.Server.Core.dll">
      <publishTime>11/04/2012 20:24:15</publishTime>
    </File>
    <File Include="bin/Trex.Server.Core.pdb">
      <publishTime>11/04/2012 20:24:15</publishTime>
    </File>
    <File Include="bin/Trex.Server.DataAccess.dll">
      <publishTime>11/04/2012 20:24:14</publishTime>
    </File>
    <File Include="bin/Trex.Server.DataAccess.pdb">
      <publishTime>11/04/2012 20:24:14</publishTime>
    </File>
    <File Include="bin/Trex.Server.Infrastructure.dll">
      <publishTime>11/04/2012 20:24:16</publishTime>
    </File>
    <File Include="bin/Trex.Server.Infrastructure.pdb">
      <publishTime>11/04/2012 20:24:15</publishTime>
    </File>
    <File Include="bin/Trex.ServiceContracts.WPF.dll">
      <publishTime>11/04/2012 20:24:13</publishTime>
    </File>
    <File Include="bin/Trex.ServiceContracts.WPF.pdb">
      <publishTime>11/04/2012 20:24:13</publishTime>
    </File>
    <File Include="bin/TrexSL.Web.dll">
      <publishTime>11/04/2012 20:27:32</publishTime>
    </File>
    <File Include="bin/TrexSL.Web.pdb">
      <publishTime>11/04/2012 20:27:32</publishTime>
    </File>
    <File Include="clientaccesspolicy.xml">
      <publishTime>11/02/2012 13:49:43</publishTime>
    </File>
    <File Include="crossdomain.xml">
      <publishTime>11/02/2012 13:49:43</publishTime>
    </File>
    <File Include="CustomerService.svc">
      <publishTime>10/02/2012 14:05:50</publishTime>
    </File>
    <File Include="FileDownloadService.svc">
      <publishTime>10/02/2012 14:05:50</publishTime>
    </File>
    <File Include="Global.asax">
      <publishTime>10/02/2012 14:05:50</publishTime>
    </File>
    <File Include="NLog.config">
      <publishTime>11/02/2012 13:49:43</publishTime>
    </File>
    <File Include="NLog.xsd">
      <publishTime>10/02/2012 21:51:15</publishTime>
    </File>
    <File Include="packages.config">
      <publishTime>11/02/2012 13:49:43</publishTime>
    </File>
    <File Include="PreviewInvoice.aspx">
      <publishTime>11/02/2012 13:49:43</publishTime>
    </File>
    <File Include="Receiver.ashx">
      <publishTime>11/02/2012 13:49:43</publishTime>
    </File>
    <File Include="ReportService.svc">
      <publishTime>10/02/2012 14:05:50</publishTime>
    </File>
    <File Include="Service.svc">
      <publishTime>10/02/2012 14:05:50</publishTime>
    </File>
    <File Include="Web.config">
      <publishTime>11/04/2012 20:24:18</publishTime>
    </File>
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)memberDB-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TrexBase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TrexBaseEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TrexDefault-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TrexEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VersionCheck-Web.config Connection String" />
  </ItemGroup>
</Project>