<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TrexSupportMail" value="support@d60.dk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="trexCreateDBScriptPath" value="C:\TRexDatabaseScripts\Database.sql" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="trexSchemeScriptPath" value="C:\TRexDatabaseScripts\Scheme.sql" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="trexDataScriptPath" value="C:\TRexDatabaseScripts\Data.sql" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="downloadMailSubject_en" value="Welcome to T.Rex" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="downloadMailSubject_da" value="Velkommen til T.Rex" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="activationMailSubject_en" value="T.Rex Activation" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="activationMailSubject_da" value="T.Rex Aktivering" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="HostResourcesUrl" value="http://trexadminservice.azurewebsites.net/resources" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AdministrationUrl" value="http://trexadmin.d60.dk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SmartClientDownloadUrl" value="http://trexdownload.d60.dk/download.htm" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtpServer" value="smtp.office365.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="smtpEnableSsl" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="smtpServerPort" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <!--<add name="TrexDefault" providerName="System.Data.SqlClient"
         connectionString="Server=.\SQLEXPRESS;Database={0};integrated security=true;" xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)" />
    <add name="TrexBase" providerName="System.Data.SqlClient"
         connectionString="Server=tcp:mnc0cegkeq.database.windows.net,1433;Database=trex_base;User ID=trexsmartclient_service@mnc0cegkeq;Password=6ANrW3CT;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="memberDB" providerName="System.Data.SqlClient"
         connectionString="Server=tcp:mnc0cegkeq.database.windows.net,1433;Database=trexcloud_membership;User ID=trexsmartclient_service@mnc0cegkeq;Password=6ANrW3CT;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TrexEntities"
         connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Trex.dk;;user id=trexUser;Password=ch33seD1pper;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TrexBaseEntities"
         connectionString="metadata=res://*/ClientModel.csdl|res://*/ClientModel.ssdl|res://*/ClientModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mnc0cegkeq.database.windows.net;initial catalog=Trex_Base;integrated security=False;User ID=trexsmartclient_service@mnc0cegkeq;Password=6ANrW3CT;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False&quot;"
         providerName="System.Data.EntityClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />-->
  </connectionStrings>

  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source" xdt:Transform="Replace">
    <sources>
      <add
        name="File Configuration Source"
        type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        filePath="entlib.config" />
    </sources>
  </enterpriseLibrary.ConfigurationSource>

  <userSettings xdt:Transform="Replace">
    <Trex.Server.Reports.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=.\sqlexpress;Database=trex.dk;user id=trexUser;Password=ch33seD1pper;</value>
      </setting>
    </Trex.Server.Reports.Properties.Settings>
  </userSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors defaultRedirect="Error.aspx"
                  mode="RemoteOnly" xdt:Transform="Replace" />
    <membership xdt:Transform="Replace">
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add
          name="AspNetSqlMembershipProvider"
          type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          connectionStringName="memberDB"
          enablePasswordRetrieval="false"
          enablePasswordReset="true"
          requiresQuestionAndAnswer="false"
          applicationName="TimeReg"
          requiresUniqueEmail="true"
          passwordFormat="Hashed"
          maxInvalidPasswordAttempts="50"
          minRequiredPasswordLength="6"
          minRequiredNonalphanumericCharacters="0"
          passwordAttemptWindow="10"
          passwordStrengthRegularExpression=""
          xdt:Transform="SetAttributes" />
      </providers>
    </membership>

    <roleManager enabled="true" xdt:Transform="Replace">
      <providers>
        <remove name="AspNetSqlRoleProvider" />

        <add
          connectionStringName="memberDB"
          applicationName="TimeReg"
          name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
          xdt:Transform="SetAttributes" />

      </providers>
    </roleManager>

  </system.web>
</configuration>