<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LargeBuffer" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                    <security mode="None">
                        <transport>
                            <extendedProtectionPolicy policyEnforcement="Never"/>
                        </transport>
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_ITrexSlService">
                    <binaryMessageEncoding/>
                    <httpTransport/>
                </binding>
                <binding name="CustomBinding_IAuthenticationService">
                    <binaryMessageEncoding/>
                    <httpTransport/>
                </binding>
                <binding name="CustomBinding_IAuthenticationService1">
                    <binaryMessageEncoding/>
                    <httpTransport/>
                </binding>
                <binding name="CustomBinding_ITrexSlService1">
                    <binaryMessageEncoding/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60249/Service.svc" binding="customBinding" bindingConfiguration="CustomBinding_ITrexSlService" contract="TrexSL.Web.ServiceInterfaces.ITrexSlService" name="CustomBinding_ITrexSlService"/>
            <endpoint address="http://localhost:60249/AuthenticationService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IAuthenticationService" contract="TrexSL.Web.ServiceInterfaces.IAuthenticationService" name="CustomBinding_IAuthenticationService"/>
            <endpoint address="http://localhost:60249/AuthenticationService.svc" binding="customBinding" bindingConfiguration="CustomBinding_IAuthenticationService1" contract="AuthenticationService.IAuthenticationService" name="CustomBinding_IAuthenticationService1"/>
            <endpoint address="http://localhost:60249/Service.svc" binding="customBinding" bindingConfiguration="CustomBinding_ITrexSlService1" contract="TrexPortalService.ITrexSlService" name="CustomBinding_ITrexSlService1"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
