<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
        <compilation debug="true" />
        <membership>
            <providers>
                <remove name="AspNetSqlMembershipProvider" />
                <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="memberDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="TimeReg" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
            </providers>
        </membership>
    </system.web>
    <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITRexService" closeTimeout="00:01:00"
                        openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                        bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                        maxBufferPoolSize="524288" maxReceivedMessageSize="1048576"
                        messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                        allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                            enabled="false" />
                    <security mode="None">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                                realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                                establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <services>
            <service name ="TimeReg.Service.TRexService" behaviorConfiguration="TRexService.TRexServiceBehavior">
                <host>
                    <baseAddresses>
                        <add baseAddress = "http://localhost:8731/Design_Time_Addresses/TimeReg.Service/TRexService/" />
                    </baseAddresses>
                </host>
                <endpoint address="" binding="wsHttpBinding" contract="TimeReg.Service.ITRexService" bindingConfiguration="WSHttpBinding_ITRexService" />

                <endpoint address="mex"
                              binding="mexHttpBinding"
                              contract="IMetadataExchange" />

            </service>
            <!-- <service name="TimeReg.Service.Service1" behaviorConfiguration="TimeReg.Service.Service1Behavior">
        
       
        <endpoint address ="" binding="wsHttpBinding" contract="TimeReg.Service.IService1">
          
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service> -->
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="TRexService.TRexServiceBehavior">
                    <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
                    <serviceMetadata httpGetEnabled="True"/>
                    <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
                    <serviceDebug includeExceptionDetailInFaults="False" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <connectionStrings configSource="connections.config" />
</configuration>
