#contour
{
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
}
#contour .contourPageName
{
    line-height: 2em !important;
    font-size: 2em !important;
}
#contour .contourField DIV LABEL
{
    display: inline;
}
#contour LABEL.fieldLabel
{
    width: 200px;
    display: block;
    background: none transparent scroll repeat 0% 0%;
    float: left;
    clear: left;
    font-weight: bold;
}
#contour SMALL
{
    padding-bottom: 5px;
    padding-left: 200px;
    padding-right: 5px;
    display: block;
    float: left;
    clear: both;
    padding-top: 5px;
}
#contour FIELDSET
{
    border-bottom: medium none;
    border-left: medium none;
    padding-bottom: 1.4em;
    margin: 0px 0px 1.5em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    border-top: medium none;
    border-right: medium none;
    padding-top: 1.4em;
}
#contour LEGEND
{
    line-height: 1.2em;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
}
#contour INPUT.text
{
    border-bottom: #bbb 1px solid;
    border-left: #bbb 1px solid;
    margin: 0.5em 0px;
    border-top: #bbb 1px solid;
    border-right: #bbb 1px solid;
}
#contour INPUT.title
{
    border-bottom: #bbb 1px solid;
    border-left: #bbb 1px solid;
    margin: 0.5em 0px;
    border-top: #bbb 1px solid;
    border-right: #bbb 1px solid;
}
#contour TEXTAREA
{
    border-bottom: #bbb 1px solid;
    border-left: #bbb 1px solid;
    margin: 0.5em 0px;
    border-top: #bbb 1px solid;
    border-right: #bbb 1px solid;
}
#contour SELECT
{
    border-bottom: #bbb 1px solid;
    border-left: #bbb 1px solid;
    margin: 0.5em 0px;
    border-top: #bbb 1px solid;
    border-right: #bbb 1px solid;
}
#contour INPUT.text:focus
{
    border-bottom: #666 1px solid;
    border-left: #666 1px solid;
    border-top: #666 1px solid;
    border-right: #666 1px solid;
}
#contour INPUT.title:focus
{
    border-bottom: #666 1px solid;
    border-left: #666 1px solid;
    border-top: #666 1px solid;
    border-right: #666 1px solid;
}
#contour TEXTAREA:focus
{
    border-bottom: #666 1px solid;
    border-left: #666 1px solid;
    border-top: #666 1px solid;
    border-right: #666 1px solid;
}
#contour SELECT:focus
{
    border-bottom: #666 1px solid;
    border-left: #666 1px solid;
    border-top: #666 1px solid;
    border-right: #666 1px solid;
}
#contour INPUT.text
{
    padding-bottom: 5px;
    padding-left: 5px;
    width: 300px !important;
    padding-right: 5px;
    padding-top: 5px;
}
#contour TEXTAREA
{
    padding-bottom: 5px;
    padding-left: 5px;
    width: 300px !important;
    padding-right: 5px;
    padding-top: 5px;
}
#contour TEXTAREA
{
    height: 250px;
}
#contour INPUT.fileupload
{
    height: auto !important;
}
#contour SPAN.checkboxlist
{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    padding-top: 10px;
}
#contour SPAN.radiobuttonlist
{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    padding-top: 10px;
}
#contour SPAN.checkbox
{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    float: left;
    padding-top: 10px;
}
#contour .checkboxlist INPUT
{
    border-bottom: medium none;
    border-left: medium none;
    width: auto !important;
    display: inline !important;
    height: auto !important;
    border-top: medium none;
    border-right: medium none;
}
#contour .radiobuttonlist INPUT
{
    border-bottom: medium none;
    border-left: medium none;
    width: auto !important;
    display: inline !important;
    height: auto !important;
    border-top: medium none;
    border-right: medium none;
}
#contour .checkbox INPUT
{
    border-bottom: medium none;
    border-left: medium none;
    width: auto !important;
    display: inline !important;
    height: auto !important;
    border-top: medium none;
    border-right: medium none;
}
#contour .contourButton
{
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    padding-top: 2px;
}
#contour .contourErrorMessage
{
    border-bottom: #fbc2c4 2px solid;
    border-left: #fbc2c4 2px solid;
    padding-bottom: 0.8em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-bottom: 0.5em;
    border-top: #fbc2c4 2px solid;
    border-right: #fbc2c4 2px solid;
    padding-top: 0.8em;
}
#contour .contourErrorMessage
{
    background: #fbe3e4;
    color: #8a1f11;
}
#contour .contourError
{
    background: #fbe3e4;
    color: #8a1f11;
}
#contour INPUT.contourError
{
    border-bottom-color: #fbc2c4;
    border-top-color: #fbc2c4;
    background: #fbe3e4;
    border-right-color: #fbc2c4;
    border-left-color: #fbc2c4;
}
#contour TEXTAREA.contourError
{
    border-bottom-color: #fbc2c4;
    border-top-color: #fbc2c4;
    background: #fbe3e4;
    border-right-color: #fbc2c4;
    border-left-color: #fbc2c4;
}
