<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Trex.Server.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		</sectionGroup>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<enterpriseLibrary.ConfigurationSource selectedSource="EntLib Configuration Source">
		<sources>
			<add name="EntLib Configuration Source"  type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config" />
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<appSettings>
		<add key="AdministratorDefaultRole" value="Administrator" />
		<add key="RegistrationNotificationEmail" value="tga@d60.dk" />
		
		<add key="smtpServer" value="localhost"/>
		<add key="smtpServerPort" value="25"/>
		<add key="TrexSupportMail" value="tga@d60.dk"/>
		
		<add key="displayName" value="Administrator" />
		<add key="activationSite" value="trex.d60.dk/registration/activation.aspx?ID=" />
		<add key="trexCreateDBScriptPath" value="C:\Projects\Trex.Cloud.Service\Database.sql" />
		<add key="trexSchemeScriptPath" value="C:\Projects\Trex.Cloud.Service\Scheme.sql" />
		<add key="trexDataScriptPath" value="C:\Projects\Trex.Cloud.Service\Data.sql" />
		<add key="downloadMailSubject_en" value="Welcome to T.Rex" />
		<add key="downloadMailSubject_da" value="Velkommen til T.Rex" />
		<add key="activationMailSubject_en" value="T.Rex Activation" />
		<add key="activationMailSubject_da" value="T.Rex Aktivering" />
		<add key="activationMailTemplate_en" value="http://trexsales.d60.dk/forside/om-os/activationmailtemplate_en" />
		<add key="activationMailTemplate_da" value="http://trexsales.d60.dk/forside/om-os/activationmailtemplate_da" />
		<add key="downloadMailTemplate_en" value="http://trexsales.d60.dk/forside/om-os/downloadmailtemplate_en" />
		<add key="downloadMailTemplate_da" value="http://trexsales.d60.dk/forside/om-os/downloadmailtemplate_da" />
		<add key="uploadFilePath" value="c:\fileUpload" />
		<add key="templateFilePath" value="C:\fileUpload" />
		<add key="defaultEFConnectionString"
			 value="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
		 {0}multipleactiveresultsets=True;App=EntityFramework&quot;" />
	</appSettings>
	<connectionStrings>
		<add name="TrexDefault" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;initial catalog={0};integrated security=True;" />
		<add name="TrexBase" providerName="System.Data.SqlClient" connectionString="Server=.;Database=trex_base;Trusted_Connection=yes" />
		<add name="memberDB" providerName="System.Data.SqlClient" connectionString="Server=.;Database=aspnetdb;Trusted_Connection=yes" />
		<add name="TrexEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
		data source=localhost;initial catalog=TrexBeta;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="TrexBaseEntities" connectionString="metadata=res://*/ClientModel.csdl|res://*/ClientModel.ssdl|res://*/ClientModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
		data source=localhost;initial catalog=Trex_Base;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>