#menuitems
{
    border-bottom: #24b208 1px solid;
    width: 181px;
    margin-left: 62px;
}
.activesubmenuitem
{
    background-image: url(../Images/activesubmenubg.png);
    background-repeat: repeat-x;
    border-top: #24b208 2px solid;
}
.inactivesubmenuitem
{
    border-top: #24b208 1px solid;
}
.activesubmenuitem
{
    text-align: left;
    font-family: Arial;
    height: 36px;
    font-size: 13px;
}
.inactivesubmenuitem
{
    text-align: left;
    font-family: Arial;
    height: 36px;
    font-size: 13px;
}
.itemtext
{
    line-height: 36px;
    margin-left: 8px;
}
.activesubmenuitem A
{
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.inactivesubmenuitem A
{
    color: #000000;
    text-decoration: none;
}
