<?xml version="1.0" encoding="utf-8"?>
<StructureMap>
    <Assembly Name="Trex.Server.Core" />
    <Assembly Name="Trex.Server.Infrastructure" />
   <DefaultInstance PluginType="Trex.Server.Infrastructure.ISessionBuilder, Trex.Server.Infrastructure"
				PluggedType="Trex.Server.Infrastructure.Implemented.HybridSessionBuilder, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IUserRepository, Trex.Server.Core"
                PluggedType="Trex.Server.Infrastructure.Implemented.UserRepository, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IUserSession, Trex.Server.Core"
                PluggedType="Trex.Server.Infrastructure.Implemented.HttpUserSession, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.ICustomerRepository, Trex.Server.Core"
   PluggedType="Trex.Server.Infrastructure.Implemented.CustomerRepository, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IProjectRepository, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.ProjectRepository, Trex.Server.Infrastructure"/>

    <DefaultInstance PluginType="Trex.Server.Core.Services.ITaskRepository, Trex.Server.Core"
       PluggedType="Trex.Server.Infrastructure.Implemented.TaskRepository, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.ITimeEntryRepository, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.TimeEntryRepository, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IProjectFactory, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.Factories.ProjectFactory, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.ITaskFactory, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.Factories.TaskFactory, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.ITimeEntryFactory, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.Factories.TimeEntryFactory, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IUserPreferences, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.UserPreferences, Trex.Server.Infrastructure"/>
  <DefaultInstance PluginType="Trex.Server.Core.Services.IUserManagementService, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.UserManagementService, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IAppStateSessionFactory, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.Factories.AppStateSessionFactory, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IVersionRepository, Trex.Server.Core"
   PluggedType="Trex.Server.Infrastructure.Implemented.DBVersionRepository, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IAppSettings, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.ApplicationSettings, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IUserCustomerInfoFactory, Trex.Server.Core"
   PluggedType="Trex.Server.Infrastructure.Implemented.Factories.UserCustomerInfoFactory, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IInvoiceFactory, Trex.Server.Core"
       PluggedType="Trex.Server.Infrastructure.Implemented.Factories.InvoiceFactory, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IInvoiceRepository, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.InvoiceRepository, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IInvoiceManager, Trex.Server.Core"
      PluggedType="Trex.Server.Infrastructure.Implemented.InvoiceManager, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IInvoiceLineFactory, Trex.Server.Core"
   PluggedType="Trex.Server.Infrastructure.Implemented.Factories.InvoiceLineFactory, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.ICustomerFactory, Trex.Server.Core"
 PluggedType="Trex.Server.Infrastructure.Implemented.Factories.CustomerFactory, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IPriceService, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.PriceService, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.IExcelExportService, Trex.Server.Core"
   PluggedType="Trex.Server.Infrastructure.Implemented.ExcelExportService, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.ITimeEntryTypeRepository, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.TimeEntryTypeRepository, Trex.Server.Infrastructure"/>
    <DefaultInstance PluginType="Trex.Server.Core.Services.ITimeEntryTypeFactory, Trex.Server.Core"
    PluggedType="Trex.Server.Infrastructure.Implemented.TimeEntryTypeFactory, Trex.Server.Infrastructure"/>
	<DefaultInstance PluginType="Trex.Server.Core.Services.IEmailComposer, Trex.Server.Core"
   PluggedType="Trex.Server.Infrastructure.Implemented.EmailComposer, Trex.Server.Infrastructure"/>
	<DefaultInstance PluginType="Trex.Server.Core.Services.IPermissionService, Trex.Server.Core"
   PluggedType="Trex.Server.Infrastructure.Implemented.XmlPermissionService, Trex.Server.Infrastructure"/>
	<DefaultInstance PluginType="Trex.Server.Core.Services.IRoleManagementService, Trex.Server.Core"
	PluggedType="Trex.Server.Infrastructure.Implemented.RoleManagementService, Trex.Server.Infrastructure"/>
    



</StructureMap>
