<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Trex.Server.Reports.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<Trex.Server.Reports.Properties.Settings>
			<setting name="ConnectionString" serializeAs="String">
				<value>Server=WIN-ATKDKGGKULE;Database=trex_drift2;Trusted_Connection=yes</value>
			</setting>
		</Trex.Server.Reports.Properties.Settings>
	</userSettings>
	<appSettings>
		<add key="ExcelExportPath" value="/Excel"/>
		<add key="AdminSenderEmail" value="thomas@supermule.net"/>
		<add key="smtpServer" value="smtp.mail.dk"/>
		<add key ="adminPermissionConfigFile" value="/Xml/AdminPermissions.xml"/>
		<add key ="clientPermissionConfigFile" value="/Xml/ClientPermissions.xml"/>
	</appSettings>
	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
		<sources>
			<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="entlib.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<connectionStrings>
		<add name="TrexConnectionString" providerName="System.Data.SqlClient" connectionString="Server=WIN-ATKDKGGKULE;Database=trex_drift2;Trusted_Connection=yes"/>
		<add name="memberDB" providerName="System.Data.SqlClient" connectionString="Server=WIN-ATKDKGGKULE;Database=aspnetdb;Trusted_Connection=yes"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Telerik.ReportViewer.WebForms, Version=4.0.10.423, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"/>
				<add assembly="Telerik.Reporting, Version=4.0.10.423, Culture=neutral, PublicKeyToken=a9d7983dfcc261be"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<customErrors mode="Off"></customErrors>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms"/>
		<membership>
			<providers>
				<remove name="AspNetSqlMembershipProvider"/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="memberDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="trex_test" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
			</providers>
		</membership>
		<roleManager enabled="true">
			<providers>
				<remove name="AspNetSqlRoleProvider"/>
				<add connectionStringName="memberDB" applicationName="trex_test" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<httpModules>
			<add name="LogModule" type="D60.Toolkit.LogUtils.LogModule,D60.Toolkit"/>
		</httpModules>
		<httpHandlers>
			<add type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=4.0.10.423, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" validate="true"/>
		</httpHandlers>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="true" requireSSL="false"/>
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<modules>
			<add name="LogModule" preCondition="managedHandler" type="D60.Toolkit.LogUtils.LogModule,D60.Toolkit"/>
		</modules>
		
		<handlers>
			<add name="Telerik.ReportViewer.axd_*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=4.0.10.423, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" preCondition="integratedMode"/>
		</handlers>
		<validation validateIntegratedModeConfiguration="false"/>
	</system.webServer>
	<location path="Telerik.ReportViewer.axd">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="TrexSL.Web.TrexSLServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceTimeouts transactionTimeout="00:00:45"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
				<behavior name="TrexSL.Web.AuthenticationServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
				<behavior name="ReportServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="WebBehavior">
					<webHttp/>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="binaryBinding">
					<binaryMessageEncoding/>
					<httpTransport maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
					</httpTransport>
				</binding>
			</customBinding>
		</bindings>
		<services>
			<service behaviorConfiguration="TrexSL.Web.TrexSLServiceBehavior" name="TrexSL.Web.TrexSLService">
				<endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding" contract="TrexSL.Web.TrexSLService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service behaviorConfiguration="TrexSL.Web.AuthenticationServiceBehavior" name="TrexSL.Web.AuthenticationService">
				<endpoint address="" binding="customBinding" bindingConfiguration="binaryBinding" contract="TrexSL.Web.AuthenticationService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="Telerik.Reporting.Service.ReportService" behaviorConfiguration="ReportServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="Telerik.Reporting.Service.IReportService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="resources" binding="webHttpBinding" behaviorConfiguration="WebBehavior" contract="Telerik.Reporting.Service.IResourceService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
</configuration>