<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    
    <connectionStrings>
	<add name="TrexConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=trex.dk;user id=trexUser;Password=ch33seD1pper;"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	<add name="memberDB" providerName="System.Data.SqlClient" connectionString="Data Source=.\sqlexpress;Initial Catalog=aspnetdb;user id=trexUser;Password=ch33seD1pper;"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
	<userSettings  xdt:Transform="Replace">
		<Trex.Server.Reports.Properties.Settings>
			<setting name="ConnectionString" serializeAs="String" >
				<value>Server=.\sqlexpress;Database=trex.dk;user id=trexUser;Password=ch33seD1pper;</value>
			</setting>
		</Trex.Server.Reports.Properties.Settings>
	</userSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
   
      
      <customErrors defaultRedirect="Error.aspx"
        mode="RemoteOnly" xdt:Transform="Replace">
       
      </customErrors>
	  <membership  xdt:Transform="Replace">
		  <providers>
			  <remove name="AspNetSqlMembershipProvider" />
			  <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" connectionStringName="memberDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="TimeReg" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression=""  xdt:Transform="SetAttributes" />
		  </providers>
	  </membership>
	  <roleManager enabled="true"  xdt:Transform="Replace">
		  <providers>
			  <remove name="AspNetSqlRoleProvider" />
			  <add connectionStringName="memberDB" applicationName="TimeReg"
				  name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" xdt:Transform="SetAttributes"/>
		  </providers>
	  </roleManager>
   
  </system.web>
</configuration>