<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="environment" value="Debug" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="wcfEndpointUri" value="http://localhost:60249/Service.svc" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="servicestackEndpointUri" value="http://localhost:60249/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="authEndPointUri" value="http://localhost:60249/AuthenticationService.svc" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
</configuration>