<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="environment" value="Test" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="wcfEndpointUri" value="http://trexclientservicetest.azurewebsites.net/Service.svc" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="servicestackEndpointUri" value="http://trexclientservicetest.azurewebsites.net/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="authEndPointUri" value="http://trexclientservicetest.azurewebsites.net/AuthenticationService.svc" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>
</configuration>